{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Order Confirmation{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <div class="card my-4">
                <div class="col-lg-12">
                    <div class="card-header">
                        <h3 class="text-black">Order Information</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row form-group">
                                <div class="col-md-12 mb-3">
                                    <label class="small">Upload Your Banner</label>
                                    {{ form.image|add_class:"form-control" }}
                                    {% for error in form.image.errors %}
                                    <li class="small text-danger">{{ error }}
                                    </li>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label class="small">Duration of Ad</label>
                                        {{ form.duration|add_class:"form-control" }}
                                        {% for error in form.duration.errors %}
                                        <li class="small text-danger">{{ error }}
                                        </li>
                                        {% endfor %}
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <label class="small">Ad Rate</label>
                                        {{ form.price_rate|add_class:"form-control" }}
                                        {% for error in form.price_rate.errors %}
                                        <li class="small text-danger">{{ error }}
                                        </li>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12 mb-3">
                                    <label class="small">Additional Note</label>
                                    {{ form.additional_note|add_class:"form-control" }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg btn-block">
                                Save Order
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card my-4 border border-primary shadow-0 ">
                <div class="card-header h4">Total Cost</div>
                <div class="card-body">
                    <p class="card-text fs-1 h2">
                        <span id="totalAmount">0.00</span> BDT
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var duration = document.querySelector('#duration');
var price_rate = document.querySelector('#price_rate');
var span = document.getElementById("totalAmount");
var total = 0.00

// handle click and add class
duration.addEventListener("input", () => {
    total = 0.00
    console.log(price_rate.value)
    if (price_rate.value === "Day") {
        total += duration.value
    } else if (price_rate.value === "Month"){
        total += duration.value * 30
    }

    total = total * {{ ad_item.price }}
    // console.log(duration.value)
    span.textContent = total;
})

price_rate.addEventListener("input", () => {
    total = 0.00
    console.log(price_rate.value)
    if (price_rate.value === "Day") {
        total += duration.value
    } else if (price_rate.value === "Month"){
        total += duration.value * 30
    }

    total = total * {{ ad_item.price }}
    // console.log(duration.value)
    span.textContent = total;
})


</script>

{% endblock %}
