{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">

    <!--    <h4 class="mt-3">Dashboard </h4>-->
    <div class="row  mt-4 mb-2 ">
        {% if pending_orders %}
        <div class="col">
            <div class="card border border-primary shadow-0 ">
                <div class="card-header h4">Pending Orders</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fs-1 h2">{{ pending_orders|length }}</span><span
                            class="fs-5"> Pending Orders</span>
                    </p>

                    <button type="button" class="btn btn-primary">View All<i class="fas fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        {% if paid_orders %}
        <div class="col">
            <div class="card border border-primary shadow-0">
                <div class="card-header h4">Paid Orders</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fs-1 h2">{{ paid_orders|length }}</span><span
                            class="fs-5"> Paid Orders</span>
                    </p>

                    <button type="button" class="btn btn-primary">View All<i class="fas fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        {% if unpaid_orders %}
        <div class="col">
            <div class="card border border-primary shadow-0">
                <div class="card-header h4">Unpaid Orders</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fs-1 h2">{{ unpaid_orders|length }}</span><span
                            class="fs-5"> Unpaid Orders</span>
                    </p>

                    <button type="button" class="btn btn-primary">View All<i class="fas fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col">
            <div class="card border border-primary shadow-0">
                <div class="card-header h4">Running Ads</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fs-1 h2">{{ running_ads|length }}</span><span class="fs-5"> Running Ads</span>
                    </p>

                    <button type="button" class="btn btn-primary">View All<i class="fas fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border border-primary shadow-0 ">
                <div class="card-header h4">Finished Ads</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fs-1 h2">{{ finished_orders|length }}</span><span class="fs-5"> Finished Ads</span>
                    </p>

                    <button type="button" class="btn btn-primary">View All<i class="fas fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <h4 class="mt-3">Recent Ads</h4>
    <div class="row  mt-2 ">
        {% if recent_ads %}
        {% for ad_item in recent_ads %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="bg-image">

                    {% if ad_item.image %}
                    <img
                            src="{{ ad_item.image.url }}"
                            class="card-img-top"
                            alt="..."
                    />
                    {% else %}
                    <img
                            src="{% static 'assets/images/placeholder.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    {% endif %}

                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)">
                        <div class="d-flex justify-content-center align-items-end h-100">
                            <p class="text-dark mb-0 fs-6 text-center">
                                {{ ad_item.width }} x {{ ad_item.height }} {{ ad_item.size_scale }}<br/>
                                {{ ad_item.price }} BDT per {{ ad_item.price_rate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <h5 class="card-title fs-6"><strong>Location: </strong>{{ ad_item.location }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text fs-6">
                        <strong>Facing: </strong>{{ ad_item.facing }}<br/>

                        {% if ad_item.additional_note %}
                        <strong>Additional Note: </strong>{{ ad_item.additional_note|truncatechars:50 }}
                        {% endif %}
                    </p>

                    <a href="{% url 'ad-detail' ad_item.pk %}" type="button" class="btn btn-primary mb-2">
                        See More<i class="fas fa-arrow-right ms-2"></i></a>

                    <div class="card-footer">
                        <p class="fs-6">Posted: {{ ad_item.date_posted|timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor%}
        {% else %}
        <p class="mt-5 text-muted">No ads yet.</p>
        {% endif %}
    </div>
    <hr/>

    <h4 class="mt-2">Most Viewed Ads</h4>
    <div class="row mt-1">
        {% if most_viewed_ads %}
        {% for ad_item in most_viewed_ads %}
        <div class="col">
            <div class="card">
                <div class="bg-image">

                    {% if ad_item.image %}
                    <img
                            src="{{ ad_item.image.url }}"
                            class="card-img-top"
                            alt="..."
                    />
                    {% else %}
                    <img
                            src="{% static 'assets/images/placeholder.png' %}"
                            class="card-img-top"
                            alt="..."
                    />
                    {% endif %}

                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)">
                        <div class="d-flex justify-content-center align-items-end h-100">
                            <p class="text-dark mb-0 fs-6 text-center">
                                {{ ad_item.width }} x {{ ad_item.height }} {{ ad_item.size_scale }}<br/>
                                {{ ad_item.price }} BDT per {{ ad_item.price_rate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <p><strong>{{ ad_item.advertisement_type }} Size: </strong>{{ ad_item.width }} x
                        {{ ad_item.height }}
                        {{ ad_item.size_scale }}<br/>
                        <strong>Price: </strong>{{ ad_item.price }} BDT per {{ ad_item.price_rate }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Location: </strong>{{ ad_item.location }}</h5>
                    <p class="card-text">
                        <strong>Facing: </strong>{{ ad_item.facing }}<br/>

                        {% if ad_item.additional_note %}
                        <strong>Additional Note: </strong>{{ ad_item.additional_note|truncatechars:50 }}
                        {% endif %}

                    </p>

                    <a href="{% url 'ad-detail' ad_item.pk %}" type="button" class="btn btn-primary mb-2">
                        See More<i class="fas fa-arrow-right ms-2"></i></a>

                    <div class="card-footer">Posted: {{ ad_item.date_posted|timesince }} ago</div>
                </div>
            </div>
        </div>

        {% endfor%}
        {% else %}
        <p class="mt-2 text-muted">No ads yet.</p>
        {% endif %}
    </div>

</div>
{% endblock %}
