{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - About{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class=me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">We Are Proud</h5>
                <div class="card-body ">
                    <p class="small">
                        EasyAd is an integrated market communication agency in Bangladesh.
                        Being a leading branding and top digital marketing company based in Bangladesh,
                        providing cost effective marketing, online branding, advertising solutions and
                        creative services to the clients all over the world since its inception.
                        We are a integrated creative agency which create brand experiences that are distinctive,
                        own-able, engaging and that resonate deeply with consumers. We serve brands across industries,
                        product categories and brand challenges and offer a comprehensive portfolio of
                        branding and design services.
                    </p>
                    <p class="small">
                        “EasyAd” is a web-based online advertisement system which is a website
                        which will be very much user friendly and convenient for the consumers.
                        Through this website, service providers/vendors can easily provide their service and
                        consumers can rent a billboard or use a vehicle for advertisement.
                        Also, consumers can be able to see the available billboards and vehicle of all places
                        from his home. This website will be dynamic and managed by a suitable authority.
                        The main purpose of developing this system was to enable to rent a billboard or use a
                        vehicle for advertisement. The system has been designed in such a way that it is very
                        cost-efficient therefore a customer or a company outside the metropolitan cities can
                        afford it as well. The user interface design framework has been designed to make the
                        system user-friendly therefore a non-IT technician will be able use the system to the full
                        extent.
                    </p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class=" me-5">
                <img
                        alt="{{ user.name }}"
                        class="card-img-top mt-5"
                        src="{% static 'assets/images/tree.png' %}">
            </div>

        </div>
    </div>

    <hr class="mt-5"/>
    <div class="row">
        <div class="col-md-6">

            <div class=me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Mission</h5>
                <div class="card-body ">
                    <p>Next Resolution Films professional system provides the highest standards of quality and
                        efficiency
                        where:</p>
                    <ul>
                        <li>Service</li>
                        <li>Creativity</li>
                        <li>Reliability</li>
                        <li>Integrity and</li>
                        <li>Clients’ satisfaction</li>
                    </ul>
                    <p>Are the hallmarks of every aspect of our works.</p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class=" me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Vision</h5>
                <div class="card-body ">
                    <p>Providing our clients drive both their short and long term goals by Providing strong
                        marketing concepts, innovative ideas and excellent clients services,
                        thus helping in meeting their objectives. We are seeking to form long lasting partnerships
                        with our clients. Desiring to measuring success for our clients through awareness,
                        increase sales, or other criteria mutually agreed upon between us and the clients.</p>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class=me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Why You Should Go With Us ?</h5>
                <div class="card-body ">
                    <ul>
                        <li>Our service merely ends with the insertion, media material production or airing.</li>
                        <li>Our advertising expertise spans from news paper advertising to all kinds of print
                            media and electronic media commercial.
                        </li>
                        <li>Uncompromising efforts towards clients’ satisfaction.</li>
                        <li>Our payoff is our efficiency creativity and commitment.</li>
                        <li>With Next Resolution Films it’s a unique combination of man, machine and materials.</li>
                        <li>We adhere to the universally practiced norms of advertising.</li>
                    </ul>
                    <p>Are the hallmarks of every aspect of our works.</p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class=me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">What We Have</h5>
                <div class="card-body ">
                    <p>Next Resolution Films excels in the total composition of a house that
                        has its own in-house creative studio, a pool of marketing executives,
                        media buying professionals and all the matter behind the smooth functioning
                        of these components.</p>
                    <ul>
                        <li>commitment</li>
                        <li>capacity</li>
                        <li>creativity</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}