{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - About{% endblock %}


{% block content %}

<div class="container">

    <h2 class="text-center mt-3 mb-3">About Us</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 card text-center me-5">
            <h5 class="card-header mt-2">Intuitive and User Friendly</h5>
            <div class="card-body ">
                <p>We are consistently working to make our platform as much user friendly as we can. We have devoted
                    ourselves to this platform.</p>
            </div>
        </div>

        <div class="col-md-3 card text-center me-5">
            <h5 class="card-header mt-2">Contactless and Secure Advertisement</h5>
            <div class="card-body ">
                <p>
                    Avoiding difficulties with paying up-front and hiring the appropriate billboard/vehicle in their
                    desired
                    location.</p>
            </div>
        </div>

        <div class="col-md-3 card text-center">
            <h5 class="card-header mt-2">Run your Advertisement Remotely</h5>
            <div class="card-body ">
                <p>Enabling the consumers to see the available billboards and vehicle of all the places from any
                    place. </p>
            </div>
        </div>
    </div>
    <hr class="mt-5"/>
    <div class="row">
        <div class="col-md-6">

            <div class= me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Mission</h5>
                <div class="card-body ">
                    <p>Next Resolution Films professional system provides the highest standards of quality and
                        efficiency
                        where:</p>
                    <ul>
                        <li>Service</li>
                        <li>Creativity</li>
                        <li>Reliability</li>
                        <li>Integrity and</li>
                        <li>Clients’ satisfaction</li>
                    </ul>
                    <p>Are the hallmarks of every aspect of our works.</p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class=" me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Vision</h5>
                <div class="card-body ">
                    <p>Providing our clients drive both their short and long term goals by Providing strong
                        marketing concepts, innovative ideas and excellent clients services,
                        thus helping in meeting their objectives. We are seeking to form long lasting partnerships
                        with our clients. Desiring to measuring success for our clients through awareness,
                        increase sales, or other criteria mutually agreed upon between us and the clients.</p>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class= me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">Why You Should Go With Us ?</h5>
                <div class="card-body ">
                    <ul>
                        <li>Our service merely ends with the insertion, media material production or airing.</li>
                        <li>Our advertising expertise spans from news paper advertising to all kinds of print
                            media and electronic media commercial.</li>
                        <li>Uncompromising efforts towards clients’ satisfaction.</li>
                        <li>Our payoff is our efficiency creativity and commitment.</li>
                        <li>With Next Resolution Films it’s a unique combination of man, machine and materials.</li>
                        <li>We adhere to the universally practiced norms of advertising.</li>
                    </ul>
                    <p>Are the hallmarks of every aspect of our works.</p>
                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class= me-5" style="background-color: transparent;">
                <h5 class="card-header mt-2">What We Have</h5>
                <div class="card-body ">
                    <p>Next Resolution Films excels in the total composition of a house that
                        has its own in-house creative studio, a pool of marketing executives,
                        media buying professionals and all the matter behind the smooth functioning
                        of these components.</p>
                    <ul>
                        <li>commitment</li>
                        <li>capacity</li>
                        <li>creativity</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}