{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <div class="card mb-4 mt-4">
                <div class="card-header text-center">
                    Create An Advertiser Account
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ advertiser_form.email|add_class:"form-control"|attr:"autofocus" }}
                                {% for error in advertiser_form.email.errors %}
                                <li class="small text-danger">{{ error }}
                                </li>
                                {% endfor %}
                                <p class="small mt-1">{{ advertiser_form.email.help_text|safe }}</p>
                            </div>
                        </div>

                        <div class="row form-group mb-3">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ advertiser_form.name|add_class:"form-control" }}
                                {{ advertiser_form.name.errors }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ advertiser_form.password1|add_class:"form-control" }}
                                <p class="small">{{ advertiser_form.password1.help_text|safe }}</p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ advertiser_form.password2|add_class:"form-control" }}
                                {% for error in advertiser_form.password2.errors %}
                                <li class="small text-danger">{{ error }}
                                </li>
                                {% endfor %}
                                <p class="small mt-1">{{ advertiser_form.password2.help_text|safe }}</p>
                            </div>
                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <input class="agree-term" id="agree-term" name="check" type="checkbox" required/>
                                <label class="label-agree-term" for="agree-term">
                                    I agree to all statements in <a class="term-service" href="#">Terms of service</a>
                                </label>
                            </div>
                        </div>

                        {{advertiser_form.is_advertiser.as_hidden}}


                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <input type="submit" value="Create Account"
                                       class="btn px-4 btn-primary form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mt-5">
                <a class="ripple" href="#">
                    <img
                            alt="example"
                            class="img-fluid rounded"
                            src="{% static 'assets/images/hand-mic.jpg' %}"
                            style="height: 70vh; width: 100%;"
                    />
                </a>
            </div>
        </div>

    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName("input");

    form_fields[1].placeholder = 'Email Address';
    form_fields[2].placeholder = 'Name';
    form_fields[3].placeholder = 'Password';
    form_fields[4].placeholder = 'Confirm Password';

</script>

{% endblock %}
