{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <div class="card my-4">
                <div class="col-lg-12">
                    <div class="card-header">
                        <h3 class="text-black">Confirm Payment</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}

                            {{form.is_paid.as_hidden}}
                            {{form.is_active.as_hidden}}
                            {{form.is_approved.as_hidden}}
                            {{form.is_running.as_hidden}}

                            <div class="row form-group">
                                <div class="col-md-12 mb-3">
                                    {{ form.duration|add_class:"form-control" }}
                                    {% for error in form.duration.errors %}
                                    <li class="small text-danger">{{ error }}
                                    </li>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12 mb-3">
                                    {{ form.price_rate|add_class:"form-control" }}
                                    {% for error in form.price_rate.errors %}
                                    <li class="small text-danger">{{ error }}
                                    </li>
                                    {% endfor %}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg btn-block">
                                Confirm Payment
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
        </div>
    </div>
</div>
<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Location';
    form_fields[4].placeholder = 'Location';
    form_fields[5].placeholder = 'Facing';
    form_fields[6].placeholder = 'Price';
    form_fields[7].placeholder = 'Height';
    form_fields[8].placeholder = 'Width';
    form_fields[9].placeholder = 'Additional Note';


</script>


{% endblock %}
